@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 206 38% 13%;

    --card: 228 79% 82%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 213 29% 93%;
    --primary-foreground: 223 69% 6%;

    --secondary: 240 67% 55%;
    --secondary-foreground: 228 79% 82%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 4  100%  65%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --chart-1: 4 100% 65%;
    --chart-2: 240 67% 55%;
    --chart-3: 296 36% 43%;
    --chart-4: 228 68% 68%;
    --chart-5: 349 43% 40%;
    --chart-6: 358 80% 69%;
    --chart-7: 193 87% 48%;
    --chart-8: 240 64% 63%;
    --chart-9: 0 79% 63%;
    --chart-10: 260 100% 86%;
    --sidebar-background: 216 25% 95%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 213 29% 93%;
    --sidebar-primary-foreground: 223 69% 6%;
    --sidebar-accent: 4  100%  65%;
    --sidebar-accent-foreground: 240 10% 3.9%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 240 10% 3.9%;
  }

  .dark {
    --background: 206 38% 5%;
    --foreground: 0 0% 98%;

    --card: 206 38% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 240 67% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240  67%  55%;
    --secondary-foreground: 228 79% 82%;

    --muted: 212 24% 25%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 4  100%  65%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240  67%  55%;
    --input: 240  67%  55%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 4 100% 65%;
    --chart-2: 240 67% 55%;
    --chart-3: 296 36% 43%;
    --chart-4: 228 68% 68%;
    --chart-5: 349 43% 40%;
    --chart-6: 358 80% 69%;
    --chart-7: 193 87% 48%;
    --chart-8: 240 64% 63%;
    --chart-9: 0 79% 63%;
    --chart-10: 260 100% 86%;
    --sidebar-background: 206 38% 13%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 206 38% 13%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 4  100%  65%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240  67%  55%;
    --sidebar-ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}